/*Page Footer*/
footer {
	width: 100%;
	bottom:0;
	position:fixed;
}

/*Side Navigation*/
div.sideMenu {
	height: 100%;
	top: 0,
	left: 0,
	background: white;
	width: 15%;
	padding: 10px;
	float: left;
}

a.about {
	display:block;
	width: 12%;
	height: 100px;
	background: url(/img/test_passed1600.png) no-repeat center center;
	background-size: contain;
}

a.about:hover {
	background-image : url(/img/test_passed1601.png);
}

a.gallery {
	display:block;
	width: 12%;
	height: 100px;
	background: url(/img/test_passed1600.png) no-repeat center center;
	background-size: contain;
}

a.gallery:hover {
	background-image : url(/img/test_passed1601.png);
}

a.other {
	display:block;
	width: 12%;
	height: 100px;
	background: url(/img/test_passed1600.png) no-repeat center center;
	background-size: contain;
}

a.other:hover {
	background-image : url(/img/test_passed1601.png);
}

/*Countdown Timer*/
#timer {
	float:left;
	width: 30%;
}

